# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Cached data
sent_jobs.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo